/* MARK: fonts */
@font-face {
  font-family: "Seraphs";
  src: url("font/SeraphsVF.woff2") format("woff2"); /* Modern Browsers */
}
/*MARK: html-properties */
html {
}
/* MARK: items */
body {
  display: grid;
  font-family: "Seraphs";
  font-size: 1.2em; /*19,2px, line-height= 19,2 x 1,5 = 28,8px */
  line-height: 1.5em;
  column-width: 3em;
  width: 500px;
  margin: 0 auto;
  padding-top: 86px;
}

main {
  display: grid;
}
p {
  writing-mode: sideways-rl;
  height: 500px;
}
