/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
html {
  --background-color: antiquewhite;
  --color: rgb(160, 155, 91);
  --color-h1: darkolivegreen;
  --grid-columns: auto auto auto;
  --grid-row-gap: 0.5em;
}
body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;

  background-color: var(--background-color);
  color: var(--color);
}

h1,
h2 {
  color: var(--color-h1);
}

ol {
  display: grid;
  grid-template-columns: var(--grid-columns);
  row-gap: var(--grid-row-gap);
}
