/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
html {
  --background-color: antiquewhite;
  --color: rgb(129, 53, 85);
  --accent-bg-color: rgb(133, 151, 66);
  --accent-color-text: darkolivegreen;
  --display: grid;
  --place-content: center;
  --grid-column: auto auto auto;
  --font-size: 1.25em;
  /* font family */
  --font-family: "gonte", sans-serif;
  --font-weight: 400;
  --font-style: normal;
}

body {
  max-width: 30em;
  color-scheme: light dark;
  background-color: var(--background-color);
  background-image: url("papertexture.jpg");
  color: var(--color);
  display: var(--display);
  place-items: var(--place-content);
  font-size: var(--font-size);
}

header {
  border: 0.25em, solid, var(--accent-bg-color);
  border-radius: 15%;
  padding-inline: 1em;
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
}

main {
  --font-family: "gonte", sans-serif;
  --font-weight: 400;
  --font-style: normal;
}

ol {
  display: var(--display);
  grid-template-columns: var(--grid-column);
}

li {
  background-image: url("bloem.jpg");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  list-style: none;
  padding-inline-start: 1em;
  padding-bottom: 1em;
}

h1 {
  color: var(--accent-color-text);
}
